<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head'); %>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
<div class="wrapper">
    <%- include('./components/global_nav'); %>
    <section>
        <h1 class="about-ttl">About</h1>
        <div class="about-box">
            <div class="main-img"><img src ="images/about.svg" alt="Smart Home - Make Life Easier -"/></div>
            <div class="about">
                <p class="about-text">smart home is a residence that uses internet-connected devices to enable the remote monitoring and management of appliances and systems, such as lighting and heating.</p>
                <p class="about-text">To make your home more comfortable, this app allows you to control all your smart devices at once.</p>
                <div class="add-device-button"><a href="/add_device">Let's start by registering the device.</a></div>
                <ul class="memo-list">
                    <li>Developer : Hikari Nakamura</li>
                    <li>Credit : Illustration by Pixeltrue from Ouch!</li>
                </ul>
            </div>
        </div>
    </section>
</div>
</body>
</html>