<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Home - About -</title>
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/add_device.css">
</head>
<body>
<div class="wrapper">
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/"><span><i class="fa-solid fa-house-chimney"></i></span>Home</a></li>
                <li><a href="/about"><span><i class="fa-solid fa-circle-user"></i></span>About</a></li>
                <li><a href="/add_device" class="active"><span><i class="fa-solid fa-house-laptop"></i></span>Add Device</a></li>
                <li><a href="/device_list"><span><i class="fa-solid fa-clipboard-list"></i></span>Device List</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1 class="add-device-ttl">Add New Device</h1>
        <form method="POST" action="/registered">
            <select name="device" class="select-form">
                <option value="">Select Device</option>
                <option value="red">赤</option>
                <option value="blue">青</option>
                <option value="yellow">黄</option>
            </select>
            <div class="toggle-box">
                <p class="form-ttl">Power OFF/ON</p>
                <div class="toggle_button">
                    <input id="toggle_power" class="toggle_input" type='checkbox' />
                    <label for="toggle_power" class="toggle_label"/>
                </div>
            </div>
            <div class="toggle-box">
                <p class="form-ttl">CLOSE/OPEN</p>
                <div class="toggle_button">
                    <input id="toggle_curtain" class="toggle_input" type='checkbox' />
                    <label for="toggle_curtain" class="toggle_label"/>
                </div>
            </div>
            <div class="select-box">
                <p class="form-ttl">Temperature</p>
                <select name="temp" class="select-form">
                    <option value="">20</option>
                    <option value="red">赤</option>
                    <option value="blue">青</option>
                    <option value="yellow">黄</option>
                </select>
            </div>
            <div class="select-box">
                <p class="form-ttl">Time</p>
                <select name="time" class="select-form">
                    <option value="">2h</option>
                    <option value="red">赤</option>
                    <option value="blue">青</option>
                    <option value="yellow">黄</option>
                </select>
            </div>
            <input class="submit-button" type="submit" value="Register" />
        </form>
    </section>
</div>
</body>
</html>