<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head'); %>
    <link rel="stylesheet" href="css/completion.css">
</head>
<body>
<div class="wrapper">
    <%- include('./components/global_nav'); %>
    <section>
        <h1 class="comp_ttl">Your Device Updated!</h1>
        <div class="comp-img"><img src ="images/edit.svg" alt="Congrats!"/></div>
        <p class="device_text">Your device has been updated!</p>
        <p>You can check or change the status on the device list page.</p>
        <div class="add-device-button"><a href="/device_list">Device List</a></div>
    </section>
</div>
</body>
</html>