<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head'); %>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="wrapper">
        <%- include('./components/global_nav'); %>
        <section>
            <div class="ttl">
                <h1 class="home-ttl">Smart Home</h1>
                <p class="home-sub-ttl">Make Life Easier</p>
                <div class="add-device-button"><a href="/add_device">Add a device</a></div>
            </div>
            <div class="main-img"><img src ="images/pixeltrue-welcome.svg" alt="Smart Home - Make Life Easier -"/></div>
        </section>
    </div>
</body>
</html>