@import url(module/nav_menu.css);

/*********************************************

completion.css

 *********************************************/

.wrapper{
    display: flex;
    align-items: center;
}

section{
    margin: 0 auto;
    text-align: center;
}

.comp_ttl{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 3.8rem;
    text-align: center;
    padding: 0 0 28px 0;
}

.comp_text{
    padding: 24px 0 0;
    font-size: 1rem;
    letter-spacing: 0.02rem;
}

.add-device-button a{
    font-family: 'Quicksand', sans-serif;
    display: block;
    width: 200px;
    margin: 24px auto 0;
    background: #F47676;
    color: #fff;
    font-size: 1.3rem;
    padding: 12px 20px;
    border-radius: 25px;
}

.main-img{
    padding: 0 20px 0 0;
}

.main-img img{
    width: 400px;
    height: auto;
}

