@import url(module/nav_menu.css);

/*********************************************

device_list.css

 *********************************************/

.wrapper{
    display: flex;
}

section{
    max-width: 980px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.list-ttl{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 3.8rem;
    text-align: center;
    padding: 0 0 28px 0;
}

.device-list-text{
    padding: 24px 0 0;
    font-size: 1rem;
    letter-spacing: 0.02rem;

}

.add-device-button a{
    font-family: 'Quicksand', sans-serif;
    display: block;
    width: 200px;
    margin: 24px auto 0;
    background: #F47676;
    color: #fff;
    font-size: 1.3rem;
    padding: 12px 20px;
    border-radius: 25px;
}

.main-img{
    padding: 0 20px 0 0;
}

.main-img img{
    width: 400px;
    height: auto;
}

.device-list{
    display: flex;
    flex-wrap: wrap;
}

.device-list li{
    margin:0 20px 20px 0;
}

.device-list li:nth-child(5n){
    margin:0 0 20px 0;
}

.device-item{
    width: 180px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #DFDFDF;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.device-item:last-child{
    margin: 0;
}

.device-icon{
    font-size: 3.4rem;
}

.device-name{
    padding: 0 0 16px 0;
}

.device-state{
    padding: 12px 0 0 0;
    font-size: 1.4rem;
}

