@import url(module/nav_menu.css);

/*********************************************

device_list.css

 *********************************************/

.wrapper{
    display: flex;
    align-items: center;
}

section{
    max-width: 980px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.list-ttl{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 3.8rem;
    text-align: center;
    padding: 0 0 28px 0;
}

.device-list-text{
    padding: 24px 0 0;
    font-size: 1rem;
    letter-spacing: 0.02rem;
}

.device-list{
    display: flex;
    flex-wrap: wrap;
}

.device-list li{
    margin:0 20px 20px 0;
}

.device-list li:nth-child(5n){
    margin:0 0 20px 0;
}

.device-item{
    width: 180px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #DFDFDF;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.device-item:last-child{
    margin: 0;
}

.device-icon{
    font-size: 3.4rem;
}

.device-name{
    padding: 0 0 16px 0;
    overflow-wrap: break-word;
}

.device-state{
    padding: 12px 0 0 0;
    font-size: 1.4rem;
}

.add-device-button a{
    display: block;
    width: 200px;
    margin: 24px auto 0;
    background: #F47676;
    color: #fff;
    font-size: 1.3rem;
    padding: 12px 20px;
    border-radius: 25px;
}

@media only screen and (max-width: 1180px) {
    .device-list{
        justify-content: center;
    }

    .device-list li:nth-child(5n){
        margin:0 20px 20px 0;
    }
}

@media only screen and (max-width: 980px) {
    body{
        padding: 0 0 200px 0;
    }
}

@media only screen and (max-width: 420px) {
    body{
        padding: 0 0 100px 0;
    }

    .list-ttl {
        font-size: 3rem;
    }

    .device-item{
        width: 160px;
    }

    .device-list li:nth-child(even){
        margin:0 0 20px 0;
    }
}