@import url(module/nav_menu.css);

/*********************************************

index.css

 *********************************************/

.wrapper{
    display: flex;
    align-items: center;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ttl{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
}

.home-ttl{
    font-size: 3.8rem;
}

.home-sub-ttl{
    font-size: 1.2rem;
}

.add-device-button a{
    display: block;
    width: 200px;
    margin: 24px auto 0;
    background: #F47676;
    color: #fff;
    font-size: 1.3rem;
    padding: 12px 20px;
    border-radius: 25px;
}

.main-img img{
    width: 600px;
    height: auto;
}

@media only screen and (max-width: 1180px) {
    section{
        flex-flow: column;
    }

    .ttl{
        order: 1;
    }
}

@media only screen and (max-width: 980px) {
    .wrapper {
        flex-flow: column;
        min-height: 100vh;
    }

    header{
        width: 100%;
        order: 1;
    }

    section{
        flex-flow: column;
        flex: 1;
    }

    .ttl{
        order: 1;
    }

    .main-img{
        order: 0;
    }
}

@media only screen and (max-width: 540px) {
    .main-img img {
        width: 320px;
    }

    .home-ttl {
        font-size: 2.8rem;
    }

    .home-sub-ttl {
        font-size: 1rem;
        padding: 4px 0 0;
    }

    .add-device-button a {
        width: 140px;
        font-size: 1rem;
    }
}

